@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* display: flex; */
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}

:root {
    --primary-color: #5A68EB;
    --primary-color-hover:#6573ec;
    --secondary-color: #9AE8FA;
    --thirdy-color: #54CBD3;
}

.container {
    width: 90%;
    margin: auto;
}
.container-fluid{
    width: 100%;
    margin: auto;
    height: 100%;
}
.row{
    display: flex;
}
.col-2{
    flex: 1; 
    width: 50%;
}
.navigation{
    width: 100%;
    position: absolute;
}
a,
li {
    text-decoration: none;
    color: black;
    list-style: none;
}
.content-header{
    display: flex;
    height: 900px;
    background-color: var(--secondary-color);
    border-radius: 0px 0px 0px 135px;
}
.navbar-nav {
    display: flex;
    background-color: #ffffff;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    border-radius: 50px;
    margin-top: 20px;
    padding: 25px;
    align-items: center;
    padding: 20px;
    z-index: 1;
}
.nav-link{
    display: flex;
}
.nav-item{
    display: flex;
    margin-left: 45px;
}
.nav-item a{
    font-size: 18px;
    font-weight: 500;
}
.nav-item a:hover{
    text-decoration: underline;
}
.navbar-nav .btn-planos{
    display: flex;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    border-radius: 50px;
    width: 247px;
    height: 60px;
    color: #ffffff;
}
.navbar-nav .btn-planos:hover{
    background-color: var(--primary-color-hover);
}
#logo{
    width: 56px;
    margin-left: 10px;
}
.text{
    margin-top: 200px;
}
.sub-titulo{
    margin-top: 30px;
}
#dental{
    color: #5A68EB;
    font-size: 96px;
}
#clean{
    color: #392C61;
    font-size: 96px;
}
.sub-titulo p{
    font-size: 32px;
}
.btn-saiba-mais{
    display: flex;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background-color: var(--primary-color);
    border-radius: 50px;
    width: 247px;
    height: 60px;
    color: #ffffff;
}
.btn-saiba-mais:hover{
    background-color: var(--primary-color-hover);
}
.btn-saiba-mais i{
    margin-left: 5px;
}
#girl{
    margin-left: 400px;
    margin-top: 100px;
    width: 990px;
}


/* Section Main */
.main{
    margin-top: 50px;
}
.services{
    height: 700px;
}
.main .title{
    text-align: center;
    color: #5A66D9;
    font-size: 28px;
}
.cards{
    display: flex;
    margin: auto;
    margin-top: 50px;
}
.card{
    display: flex;
    width: 413px;
    height: 196px;
    color: white;
    justify-content: center;
    align-items: center;
    background-color: #2F97EB;
    border-radius: 5px;
    margin-left: 50px;
}
.card:hover{
    cursor: pointer;
    background-color: #3d9ae6;
}

/* Warning */
.warning{
    display: flex;
    background-color: var(--primary-color);
    height: 280px;
    color: white;
    position: relative;
}
.img-warning{
    position: absolute;
}
#img-warning{
    margin-left: 1242px;
}
.w-conteudo{
    margin-left: 300px;
    margin-top: 50px;
}
.w-conteudo p{
    font-size: 18px;
}
.w-background{
    display: flex;
    height: 60px;
    background-color: #97A9FC;
    z-index: 2;
    justify-content: center;
    align-items: center;
    margin-top: 109px;
}

/* Concequências */
.consequencias{
    display: flex;
    height: 512px;
    width: 100%;
    background-color: #7A87EF;
    color: #ffffff;
}


/* Sobre Nós */
.sobre{
    height: 500px;
}
.sobre .sb-title h1{
    color: #5A66D9;
    text-align: center;
    margin-top: 50px;
    font-size: 42px;
}
.sb-sub-title p{
    margin-top: 30px;
}

/* Employee */
.cads-employee{
    margin-top:100px;
}
.emp-card{
    width: 373px;
    height: 230px;
    box-shadow: -15px 7px 50px 0px rgba(0,0,0,0.1);
    border-radius: 10px;
    padding: 20px;
}
.cads-employee{
    display: flex;
    justify-content: space-evenly;
}
.emp-title{
    display: flex;
    align-items: center;
}

.emp-sub-title{
    margin-top: 15px;
}
/* Trabalhos Recentes */
.tbr-title h1{
    color: #5A66D9;
    text-align: center;
    margin-top: 50px;
    font-size: 42px;
}
.imgs{
    display: flex;
    margin-top: 100px; 
    justify-content: space-evenly;
}

#img1{
    width: 368px;
    height: 484px;
}
.imgs2{
    display: grid;
}
#img2{
    width: 544px;
    height: 484px;
}
#img3{
    width: 364px;
    height: 243px;
}
#img4{
    width: 364px;
    height: 214px;
}


/* Newsletter */
.newsletter{
    display: inline-block;
    margin-top: 50px;
    height: 260px;
    width: 100%;
    background-color: var(--primary-color);
}
.newsletter h1{
    margin-top: 50px;
    font-size: 48px;
    font-weight: medium;
    color: white;
    text-align: center;
    justify-content: c;
}
.newsletter p{
    font-size: 16px;
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
}
.newsletter .submit{
    display: flex;
    justify-content: center;
    align-items: center;
}
.newsletter .submit input{
    position: relative;
    height: 53px;
    width: 457px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    padding: 15px;
    font-size: 18px;
}
.submit input::placeholder {
    color: white;
    font-size: 18px;
}
.submit input{
    outline: none;
}
.btn-submit{
    cursor: pointer;
    position: absolute;
    height: 53px;
    width: 53px;
    background-color: white;
    border: none;
    border-radius: 5px;
    margin-left: 402px;
}
.btn-submit i{
    color: var(--primary-color);
    font-size: 18px;
}


/* Footer */
footer {
background-color: #f5f5f5;
padding: 30px 0;
}
    
.col-sm-4 {
flex: 1;
margin-bottom: 30px;
}

.social li {
display: inline-block;
margin-right: 10px;
}

.social li a {
color: #333;
font-size: 28px;
}

.social li a:hover {
color: #392C61;
}
.fim{
    display: flex;
    background-color: #5A66D9;
    width: 100%;
    height: 42px;
}
.fim p{
    font-size: 18px;
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    text-align: center;

}
footer {
    background-color: #5A66D9;
    color: #fff;
    padding: 20px;
    text-align: center;
}
 